@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

/* Базовые стили приложения */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Оставляем светлую тему по умолчанию */
  color-scheme: light;
  color: #0f172a; /* text-slate-900 */
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background: linear-gradient(
    to bottom,
    #0399c7 15%,   /* светло-серый */
    #ffffff 70%  /* белый */
  );
  min-width: 320px;
  min-height: 100vh;
  /* ВАЖНО: убираем flex-центрирование, чтобы контент занимал всю ширину */
  display: block;
}

/* Ссылки по умолчанию */
a {
  font-weight: 500;
  color: #0ea5e9; /* sky-500 */
  text-decoration: none;
}
a:hover {
  color: #0369a1; /* sky-700 */
}

/* Кнопки по умолчанию (если где-то используешь без Tailwind) */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #0ea5e9;
  color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}
button:hover {
  border-color: #0284c7;
  background-color: #0284c7;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
